@import "../base";

.user {
  a {
    border: 0 none;
  }
}

.user__image {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #fff url(assets/images/account.svg) no-repeat 50% 50%;
  background-size: cover;
  margin: 0 8px 0 0;
}
