<div class="modal open fade in" fixed-fullbleed layout center-center horizontal>
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="session">
      <div class="modal-header" horizontal layout center justified>
        <div layout vertical>
          <h3>{{session.title}}</h3>
          <div class="session-details" layout horizontal>
            <span layout horizontal center>
              <svg width="24" height="24" viewBox="0 0 24 24">
                <path d="M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z"/>
              </svg>
              {{session.start | date:'EEEE'}}
            </span>
            <span layout horizontal center>
              <svg width="24" height="24" viewBox="0 0 24 24">
                <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
                <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"/>
              </svg>
              {{session.start | date:'HH:mm' | dateFix}} - {{session.end | date:'HH:mm' | dateFix}}
            </span>
            <span layout horizontal center>
              <svg width="24" height="24" viewBox="0 0 24 24">
                <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
              </svg>
              {{session.room.title}}
            </span>
          </div>
        </div>
        <button type="button" class="button button__close" (click)="close()"></button>
      </div>
      <div class="modal-body">
        <div [innerHtml]="session.description | markdown"></div>
      </div>
      <div class="modal-body" horizontal layout>
        <div class="session-speaker" *ngFor="let speaker of session.speakers" horizontal layout center>
          <t3dd16-speaker-image [image]="speaker.image"></t3dd16-speaker-image>
          <span>{{speaker.name}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade in" fixed-fullbleed></div>
