.speaker__image {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url(images/account.svg), url(images/account.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 50%, 50% 50%;
  background-size: cover;
  margin: 0 8px 0 0;
}
