@import "mixins";

th, td {
  padding: 4px 12px;
}

tr th:first-child,
tr td:first-child {
  padding-left: 0;
}

tr th:last-child,
tr td:last-child {
  padding-right: 0;
}

td em {
  color: #515151;
  font-style: normal;
}
