@mixin breakpoint($point) {
  @if $point == desktop-large {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $point == desktop {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == tablet-only {
    @media (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  } @else if $point == phone {
    @media (min-width: 480px) {
      @content;
    }
  } @else if $point == phone-only {
    @media (max-width: 480px) {
      @content;
    }
  }
}
