@import "mixins";

.navigation {
  display: none;

  @include breakpoint(tablet) {
    display: block;
  }

  a {
    transition: opacity .1s cubic-bezier(0.4, 0, 1, 1), color .1s cubic-bezier(0.4, 0, 1, 1);
    height: 65px;
    padding: 0 12px;
    text-transform: uppercase;
    opacity: .6;
    color: #000000;
    border: 0 none;

    &.logo,
    &.router-link-active {
      opacity: 1;
    }

    &.logo {
      width: 96px;
      background: transparent url(./images/logo.svg) center center no-repeat;
      background-size: 100% auto;
      text-indent: -9999px;
    }
  }
}
