@import "mixins";

.offcanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;

  @include breakpoint(tablet) {
    display: none;
  }

  a {
    border: 0 none;
  }
}

.content {
  position: relative;
  height: 100%;
  width: 250px;
  background-color: #ffffff;
  z-index: 1;
}

.header {
  height: 192px;
  fill: #ffffff;

  .logo {
    display: block;
    margin: 0 8px;
    width: 180px;
    height: 60px;
    background: transparent url(./images/logo.svg) top left no-repeat;
    background-size: 100% auto;
    text-indent: -9999px;
  }
}

.navigation {
  margin: 16px 0;

  a {
    display: block;
    padding: 8px 12px;
    text-transform: uppercase;
    opacity: .6;
    color: #000000;
    border: 0 none;
    height: 40px;

    &.router-link-active {
      opacity: 1;
    }
  }
}

offcanvas-backdrop {
  background-color: rgba(0, 0, 0, .3);
  visibility: hidden;
  opacity: 0;
  transition: opacity ease-in-out .38s, visibility ease-in-out .38s;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}
