@import "mixins";

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-smoothing: antialiased;
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  font-family: 'Share', cursive;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;
  //background-color: #ffffff;
  background-color: #e7e7e7;
}

#header {
  .container {
    height: 150px;
  }
  @include breakpoint(tablet) {
    .container {
      height: 35vh;
      min-height: 400px;
    }
  }
}

#content {
  @include breakpoint(tablet) {
    .bg:first-child .container {
      position: relative;
      top: -92px;
      margin-bottom: -102px;
    }
  }
}

.bg-cover {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-fullwidth {
  height: 400px;
}

.bg-white {
  background-color: #fff;
  color: #000;
  fill: #000;
}

.bg-dark-grey,
.bg-medium-grey,
.bg-light-grey,
.bg-medium-blue,
.bg-light-blue,
.bg-brown,
.bg-orange,
.bg-mint {
  color: #fff;
  fill: #fff;
}

.bg-dark-grey {
  background-color: #515151;
}

.bg-medium-grey {
  background-color: #8C8C8C;
}

.bg-light-grey {
  background-color: #e7e7e7;
}

.bg-medium-blue {
  background-color: #007FB2;
}

.bg-light-blue {
  background-color: #00B5FF;
}

.bg-brown {
  background-color: #B25E00;
}

.bg-orange {
  background-color: #FF8700;
}

.bg-mint {
  background-color: #14CC9D;
}
