// Layout
$baseline-grid: 8px;
$layout-breakpoint-sm: 600px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1200px;
$layout-gutter-width: ($baseline-grid * 2);

// Typography
$md-body-font-size-base: 16px;

$md-primary: #212121;
$md-accent: #FF8700;
$md-error: #db4437;
$md-foreground: rgba(0, 0, 0, 0.26);

// App bar variables
$app-bar-height: 64px;

// Toast
$toast-height: $baseline-grid * 3;
$toast-margin: $baseline-grid * 1;

// Whiteframes
$whiteframe-shadow-z1: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
$whiteframe-zindex-z1: 1;
$whiteframe-shadow-z2: 0px 8px 17px rgba(0, 0, 0, 0.2);
$whiteframe-zindex-z2: 2;
$whiteframe-shadow-z3: 0px 17px 50px rgba(0, 0, 0, 0.19);
$whiteframe-zindex-z3: 3;
$whiteframe-shadow-z4: 0px 16px 28px 0 rgba(0, 0, 0, 0.22);
$whiteframe-zindex-z4: 4;
$whiteframe-shadow-z5: 0px 27px 24px 0 rgba(0, 0, 0, 0.2);
$whiteframe-zindex-z5: 5;

// Z-indexes
$z-index-tooltip: 100;
$z-index-dialog: 80;
$z-index-toast: 90;
$z-index-bottom-sheet: 70;
$z-index-sidenav: 60;
$z-index-backdrop: 50;
$z-index-fab: 20;

// Easing Curves
$swift-ease-out-duration: 0.4s;
$swift-ease-out-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
$swift-ease-out: all $swift-ease-out-duration $swift-ease-out-timing-function;

$swift-ease-in-duration: 0.3s;
$swift-ease-in-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
$swift-ease-in: all $swift-ease-in-duration $swift-ease-in-timing-function;

$swift-ease-in-out-duration: 0.5s;
$swift-ease-in-out-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
$swift-ease-in-out: all $swift-ease-in-out-duration $swift-ease-in-out-timing-function;
